# CODEOWNERS — all changes require review from at least one code owner.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
*   @jcrabtree
